<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="Channels" value="32"/>
      <add key ="dbConnectionString" value="SERVER=localhost;Database=datalogger;UID=root;Password=Raffi1971$"/>
      
      <!-- Font size for channel 1-->
      <add key="ch1valuefontsize" value="100"/>
      <add key="ch1restfontsize" value="40"/>

      <!-- Font size for channel 2-->
      <add key="ch2valuefontsize" value="70"/>
      <add key="ch2restfontsize" value="30"/>

      <!-- Font size for channel 3 to 4-->
      <add key="ch34valuefontsize" value="60"/>
      <add key="ch34restfontsize" value="25"/>

      <!-- Font size for channel 5 to 8-->
      <add key="ch58valuefontsize" value="32"/>
      <add key="ch58restfontsize" value="20"/>

      <!-- Font size for channel 9 to 12-->
      <add key="ch912valuefontsize" value="28"/>
      <add key="ch912restfontsize" value="18"/>

      <!-- Font size for channel 13 to 16-->
      <add key="ch1316valuefontsize" value="24"/>
      <add key="ch1316restfontsize" value="15"/>

      <!-- Font size for channel 17 to 20-->
      <add key="ch1720valuefontsize" value="20"/>
      <add key="ch1720restfontsize" value="12"/>

      <!-- Font size for channel name 17 to 20 channels only now stash1-->
      <add key="chname1720fontsize" value="14"/>


      <!-- Font size for channel name alone after 20 channels-->
      <add key="chnameafter20fontsize" value="12"/>


      
      <!-- Font size for channel 21 to 24-->
      <add key="ch2124valuefontsize" value="16"/>
      <add key="ch2124restfontsize" value="9"/>

      <!-- Font size for channel 25 to 28-->
      <add key="ch2528valuefontsize" value="14"/>
      <add key="ch2528restfontsize" value="7"/>

      <!-- Font size for channel 29 to 32-->      
      <add key="ch2932valuefontsize" value="13"/>
      <add key="ch2932restfontsize" value="6"/>

      

    </appSettings>
</configuration>
