<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernate.mysql">
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string">
      Database=datalogger;Data Source=localhost;User Id=root;Password=Raffi1971$
    </property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
  </session-factory>
</hibernate-configuration>